.img-logo{
    max-width: 90px;
}

.oculto{
    display: none;
}

.form-busqueda{
    width: 500px;
}

.navegacion{
    background-color: #0A0814;
    font-family: "Marcellus", 'Lato', sans-serif;
    color: #6B8CE1;
    font-size: 20px;
}

.dialogo{
    background-color: rgba(16, 14, 25, .9);
}